* {
    margin: 0;
    padding: 0;
}


body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/dex-ezekiel-IxDPZ-AHfoI-unsplash.jpg);   
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    background-repeat: repeat;
}

.btn {
    background-color: #ffa500;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 0px;
    font-weight: bold;
    color: #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.main-nav li {
    display: inline;
    margin-left: 20px;
}

.main-nav li a:link  {
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav li a:hover {
    background-color: #bd8621;
    border: 2px solid #ffa500;
}

.container {
    position: absolute;
    left: 30%;
}

h2 {
    color: white;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.new-article {
    margin-top: 20px;
}

.pic-column {
    float: left;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

figcaption {
    color: white;
}

.news-detail {
    width: 35%;
    margin-left: 20%;
    height: 250px;
    color: white;
    background-color: rgba(161, 161, 161, 0.616);
    padding: 25px 25px 0px 25px;
    font-size: 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

p::first-letter {
    font-size: 50px;
}

footer { text-align: center; }

footer p::first-letter { font-size: 15px;}

/*--------------------------------------------------------------------------*/
/*---------------------------   Assignment 2   -----------------------------*/
/*--------------------------------------------------------------------------*/

/*---------- Mobile devices ----------*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    header { height: 95vh; }

    .logo {
        height: 250px;
        width: 250px; 
    }

    .main-nav li {
        display: block;
        margin-left: 0px;
    }

    .container, h2 { visibility: hidden; }
}

/*---------- iPads/Tablets ----------*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    header { height: 95vh; }

    .logo {
        height: 250px;
        width: 250px; 
    }

    .main-nav li {
        display: block;
        margin-left: 0px;
    }

    .container, h2 { visibility: hidden; }
}

/*---------- Small screens, Laptops ----------*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header { height: 95vh; }

    .logo {
        height: 250px;
        width: 250px; 
    }

    h2 { margin-top: 50px; }

    #article-1 {
        margin-top: 25px;
    }

    #pic-1 {
        height: 200px;
        width: 250px;
    }

    .news-detail { 
        font-size: 15px; 
        height: 200px;
    }

    p::first-letter {
        font-size: 15px;
    }

    #article-2 { visibility: hidden;}
}

/*---------- Deskstops, Large screens ----------*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    header { height: 95vh; }

    .logo {
        height: 250px;
        width: 250px; 
    }

    h2 { margin-top: 50px; }

    #article-1 {
        margin-top: 25px;
    }

    #pic-1 {
        height: 200px;
        width: 250px;
    }

    .news-detail { 
        font-size: 20px; 
        height: 250px;
    }

    p::first-letter {
        font-size: 20px;
    }

    #article-2 { visibility: hidden;}
}