* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/dex-ezekiel-IxDPZ-AHfoI-unsplash.jpg);  
    background-size: cover;
    background-position: center;
    height: 100vh; 
    font-size: 1.5rem;
}

/*Typography*/

h1{
    font-family: 'Lora', serif;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

/*Table*/

.rank {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    background: white;
}

.columns {
    display: block;
    align-items: flex-start;
}

@media screen and (max-width: 700px) {
    table thead{display: none;}
    table tbody, table tbody tr{display: block; width: 100%;}
    table tbody tr th::before table tbody tr td::before{content: attr(data-title); display: block;}
    table tbody tr td{display: block; width: 50%; float: left;}
    table tbody tr th{display: block; width: 50%; float: left;}
    table tbody tr{margin-bottom: 16px;}
}

/*Navigation*/

img {
    max-width: 100%;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }
}

header {
    background: rgb(133, 22, 133);
    padding: 2em 0;
}

@media (max-width: 675px) {
    header {
        text-align: center;
    }
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em; 
}

nav a {
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    padding: .25em 0; /*.25 = top and bottom, 0 = left and right*/
}

.nav a:active,
.nav a:hover {
    border-bottom: 3px solid black;
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .5em 0;
    }
}










#anime td, #anime th{
    border: 1px solid rgb(124, 18, 89);
    padding: 15px;
}

#anime tr:nth-child(even)
{background-color: #f2f2f2;}

#anime tr:hover {background-color: #ddd;}

#anime th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: purple;
    color: white;
}

#anime {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
}

h3 {
    font-size: 18pt;
    font-weight: bolder;
    color: purple;
    float: left;
}

h4 {
    float: right;
}

p {
    font-size: 12pt;
    font-weight: bold;
    color: rgb(53, 50, 50);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



footer {
    background: rgb(133, 22, 133);
    text-align: center;
    color: white;
    position: relative;
    top: 30%;
    padding: 1em;
    margin-top: 30px;
}

.logo {
    font-family: 'Times New Roman', Times, serif;
}

.name {
    font-family: 'Times New Roman', Times, serif;
}